/* Récupération des polices présentes sur le serveur */
@font-face {
  font-family: 'Andika';
  src: url('polices/AndikaNewBasic-R.ttf');
}
@font-face {
  font-family: 'Opendyslexic';
  src: url('polices/OpenDyslexic3-Regular.ttf');
}

/* Styles généraux */
body {
  font-family: "Andika";
  background-image: url(images/logo-clg.png);
  background-color: #87CEEB;
  background-repeat: no-repeat;
  /*background-size: 100px;*/
  background-attachment: fixed;
}
h1 {
  font-family:"Opendyslexic";
  text-align: center;
}
h2 {
  font-family:"Opendyslexic";
  text-align: center;
}
img {
  float: left;
  height: 60px;
  vertical-align: middle;
  margin-right:10px;
}

.liste {
	float: left;
	margin: 20px;
	text-align: center;
	width: 100px;
	min-height: 150px;
}
.icones {
	width: 75px;
	height: 75px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

/* .admin .liste {
	width: 80px;
	min-height: 100px;
}

.admin .icones {
	width: px;
	height: 60px;
} */

#licence, #licence a {
		text-align: right;
		color: grey;
}

/* Zone de texte d'intro */
.intro {
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  width: 60%;
  background-color: #FFF;
  padding: 10px 20px 10px 20px;
  opacity: 0.8;
  border: 5px solid red;
  border-radius: 20px;
}

/* Cadre gauche */
#gauche {
  float: left;
  margin-left: 2%;
  width: 45%;
  padding: 10px;
}

/* Cadre droite */
#droite
{
  float: right;
  margin-right: 2%;
  width: 45%;
  padding: 10px;
}

/* Bloc unitaire */
.bloc {
  margin-top:20px;
  background-color: #FFF;
  /*opacity: 0.8;*/
  border-radius: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

/* Elements de formulaire */
#bouton
{
  width: 170px;
  text-align: center;
}
#recherche {
  width:200px;
}
